
body {
    --background-color: white;
    --text-color: black;
    --soft-text-color: #333;
    --very-soft-text-color: #777;

    --inverse-background-color: #333;
    --inverse-text-color: white;

    --accent-color-green: #2c9c3a;
    --accent-color-red: #cc2d52;
}